<div>

    Angular Router Example
    <h1>List Pet animals</h1>
    <router-outlet></router-outlet>

</div>

<footer class="page-footer ">
    <a href="http://www.facebook.com/abdul.kareem2 "> <img class="responsive-img " src="../../assets/facebook.png "></a>
    <a href="https://twitter.com/abdulkareemtpm "><img class="responsive-img " src="../../assets/twitter.png "></a>
    <a href="https://plus.google.com/u/0/+AbdulKareemTPM "> <img class="responsive-img " src="../../assets/google-plus.png "></a>
    <a href="https://www.linkedin.com/in/t-p-m-abdulkareem-9873b6108/ "> <img class="responsive-img " src="../../assets/linkedin.png "></a>
    <a href="https://github.com/tpmabdulkareem "><img class="responsive-img " src="../../assets/github-circle.png "></a>
</footer>