   div {
       background-image: url("http://lab.empirio.no/media/images/background.png");
   }
   
   h1 {
       display: flex;
       justify-content: center;
       font-family: 'Arial Narrow Bold', sans-serif;
       animation-name: example;
       animation-duration: 15s;
       color: red;
   }
   
   @keyframes example {
       from {
           color: rgb(1, 247, 226);
       }
       to {
           color: teal;
       }
   }
   
   .responsive-img {
       justify-content: center;
   }
   
   .responsive-img:hover {
       background: rgb(0, 197, 247);
   }
   
   .page-footer {
       background-color: rgb(14, 2, 182);
       padding: 1em;
       display: flex;
       justify-content: center;
       width: 100%;
       opacity: .8;
   }